<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH-RWDbIOeK4v_3ig-CUzG4HAWZLfvXD4</string>
	<key>GCM_SENDER_ID</key>
	<string>454241129048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exp1.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-exp</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-exp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454241129048:ios:c6fdd1ac1baf8f1d05302d</string>
</dict>
</plist>